<!--
    Otra form - Ocultando el boton  
        boton atras -> *ngIf="paginador_hijo.number > 0"
        boton adelante -> *ngIf="paginador_hijo.number < paginador_hijo.totalPages"
    HTML Entity Names
        https://www.w3schools.com/charsets/ref_html_entities_4.asp
-->
<ul class="pagination" >
  <!--Primera Pagina-->
  <li
    class="page-item"
    [ngClass]="paginador_hijo.first? 'disabled' : ''"
  >
    <a class="page-link" [routerLink]="['/admin/departamneto/listado/page', 0]"> &laquo; </a>
  </li>

  <!--Atras-->
  <li
    class="page-item"
    [ngClass]="paginador_hijo.numeroDePagina == 0 ? 'disabled' : ''"
  >
    <a
      class="page-link"
      [routerLink]="['/admin/departamneto/listado/page', paginador_hijo.numeroDePagina - 1]"
    >
      &lt;
    </a>
  </li>
  <!--Lista de paginas-->
  <li
    class="page-item"
    *ngFor="let pagina of paginas"
    [ngClass]="pagina - 1 == paginador_hijo.number ? 'active' : ''"
  >
    <span class="page-link" *ngIf="pagina - 1 == paginador_hijo.number">
      {{ pagina }}
    </span>
    <a
      class="page-link"
      *ngIf="pagina - 1 != paginador_hijo.number"
      [routerLink]="['/admin/departamneto/listado/page', pagina - 1]"
    >
      {{ pagina }}</a
    >
  </li>
  <!--Adelante-->
  <li
    class="page-item"
    [ngClass]="
      paginador_hijo.numeroDePagina >= paginador_hijo.totalPaginas - 1 ? 'disabled' : ''
    "
  >
    <a
      class="page-link"
      [routerLink]="['/admin/departamneto/listado/page', paginador_hijo.numeroDePagina + 1]"
    >
      &gt;
    </a>
  </li>

  <!--Ultima Pagina-->
  <li
    class="page-item"
    [ngClass]="
      paginador_hijo.last? 'disabled' : ''
    "
  >
    <a
      class="page-link"
      [routerLink]="['/admin/departamneto/listado/page', paginador_hijo.totalPaginas - 1]"
    >
      &raquo;
    </a>
  </li>
</ul>
