<app-modal-finalizacion-incidente 
></app-modal-finalizacion-incidente>
<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
        >
          <h3 class="fw-bold mb-0">Eventos Ocurrido</h3>
        </div>
      </div> 
    </div>
    <!-- Row end  -->
    <div class="row clearfix g-3">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                <div class="">
                  <select
                    [(ngModel)]="depId"
                    class="form-control"
                    (change)="filtrarDepartamento()"
                  >
                    <option value=-1 >[Filtro Departamento]</option>
                    <option *ngFor="let aux of departamentos" value="{{ aux.id }}" >
                      {{ aux.depnumero }}
                    </option>
                  </select>
                </div>
              </div>
      
          
      
              <div class="form-group col-6">
                  <div class="">
                    <select
                      [(ngModel)]="inciID"
                      class="form-control"
                      (change)="filtraIncidente()"
                    >
                      <option value=-1>[Filtro Incidente]</option>
                      <option *ngFor="let aux of incidentes" value="{{ aux.id }}">
                        {{ aux.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
        
            </div>
            <table
              id="myProjectTable"
              class="table table-hover align-middle mb-0"
              style="width: 100%"
            >
              <thead class="text-center">
                <tr>
                  <th>id</th>
                  <th>Departamento</th>
                  <th>Incidente</th>
                  <th>Estado Actual</th>
                  <th>Accion</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="text-center" *ngFor="let obj of eventoIncidente">
                <tr>
                  <td class="cursor-pointer-g">{{ obj.id }}</td>
                  <td>{{ obj.departamento.depnumero }}</td>
                  <td>{{ obj.incidente.nombre }}</td>
                  <td>
                    <span *ngIf="obj.estado == 1" class="text-warning"
                      ><strong>Registrado</strong>
                    </span>

                    <span *ngIf="obj.estado == 2" class="text-success"
                      ><strong>Atendido</strong></span
                    >
                  </td>
                  <td>
                    <button *ngIf="obj.estado == 1" (click)="abrirModalFinalizarVisita(obj)">Finalizar</button>
                  </td>
                  <td>
                    <a
                      class="btn btn-link"
                      data-bs-toggle="collapse"
                      [href]="'#open-'+obj.id"
                      role="button"
                      aria-expanded="false"
                      aria-controls="multiCollapseExample1"
                      ><i class="icofont-eye-alt"></i></a
                    >
                  </td>
                </tr>
                <tr  class="collapse multi-collapse" id="{{'open-'+obj.id}}">
                  <td colspan="5">
                    <div class="row">
                      <div class="col-1 bg-secondary border border-dark">
                        id
                      </div>
                      <div class="col-2 bg-secondary border border-dark">
                        Fecha
                      </div>
                      <div class="col-1 bg-secondary border border-dark">
                        estado
                      </div>
                      <div class="col-6 bg-secondary border border-dark">
                        Comentario
                      </div>
                      <div class="col-2 bg-secondary border border-dark">
                        registrado por:
                      </div>
                    </div>
                    <div
                      class="row"
                      *ngFor="let subObj of obj.historialIncidentes"
                    >
                      <div class="col-1 border border-secondary">
                        {{ subObj.id }}
                      </div>
                      <div class="col-2 border border-secondary">
                        {{ subObj.fecha | date: "dd-MM-yyyy, h:mm a" }}
                      </div>
                      <div class="col-1 border border-secondary">
                        <span *ngIf="subObj.estado == 1" class=""
                          ><strong>Registrado</strong>
                        </span>

                        <span *ngIf="subObj.estado == 2" class=""
                          ><strong>Atendido</strong></span
                        >
                      </div>
                      <div class="col-6 border border-secondary">
                        {{ subObj.comentario }}
                      </div>
                      <div class="col-2 border border-secondary">
                        {{ subObj.personaRegistro.nombre }}
                        {{ subObj.personaRegistro.apellido }}
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator 
        class=""
        *ngIf="paginator"
        [length]="paginator.totalElementos"
        [pageSize]="pageSize"
        [pageIndex]="pageNumber"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="pagSizeOption"
        aria-label="Select page"
        (page)="handlePage($event)"
      >
      </mat-paginator>
  </div>
</div>
 