<div id="ebazar-layout" class="theme-blue">
  <!-- sidebar -->
  <div class="sidebar px-4 py-4 py-md-4 me-0">
    <div class="d-flex flex-column h-100">
      <a  [routerLink]="['/admin/home/index']" class="mb-0 brand-icon">
        <span class="logo-icon ">
          <i class="fas fa-building icon_principal_size"></i>
        </span>
        <span class="logo-text icon_principal_size">MI EDIFICIO</span>
      </a>
      <!-- Menu: main ul -->
      <ul class="menu-list flex-grow-1 mt-3">
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-departamento"
            href="#"
          >
          <i class="icofont-building-alt fs-5 "></i>
            <span>Departamento</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-departamento">
            <li>
              <a class="ms-link" [routerLink]="['/admin/departamentos/listado']"
                >Departamento List</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/departamentos/crear']"
                >Departamento Create</a
              >
            </li>
          </ul>
        </li>
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-propietario"
            href="#"
          >
            <i class="icofont-funky-man fs-5"></i> <span>Propietario</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-propietario">
            <li>
              <a class="ms-link" [routerLink]="['/admin/propietario/listado']"
                >Propietario List</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/propietario/crear']"
                >Propietario Create</a
              >
            </li>
          </ul>
        </li>
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-visitante"
            href="#"
          >
          <i class="icofont-user-alt-1 fs-5"></i> <span>Visitante</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-visitante">
            <li>
              <a class="ms-link" [routerLink]="['/admin/visitante/listado']"
                >Lista Visitante</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/visitante/crear']"
                >Agregar</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/visitante/programar_visita']"
                >Registrar Visita</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/visitante/gestion_visita']"
                >Gestion de Visita</a
              >
            </li>
          </ul>
        </li>
       
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-servicio"
            href="#"
          >
          <i class="icofont-bucket fs-5"></i> <span>Servicio</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-servicio">
            <li>
              <a class="ms-link" [routerLink]="['/admin/servicio/listado']"
                >Lista Servicio</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/servicio/crear']"
                >Agregar</a
              >
            </li>
          </ul>
        </li>
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-pagos"
            href="#"
          >
          <i class="icofont-dollar fs-5"></i> <span>Pagos</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-pagos">
            <li>
              <a class="ms-link" [routerLink]="['/admin/pagos/programarPagos']"
                >Programar Pagos</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/pagos/cancelarPagos']"
                >Cancelar Pagos</a
              >
            </li>
            
            <li>
              <a class="ms-link" [routerLink]="['/admin/pagos/listadoPagos']"
                >Pagos Cancelados</a
              >
            </li>
          </ul>
        </li>
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-incidente"
            href="#"
          >
          <i class="icofont-broken fs-5"></i> <span>Incidente-Causa</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-incidente">
            <li>
              <a class="ms-link" [routerLink]="['/admin/incidente/listado']"
                >Lista Incidente</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/incidente/crear']"
                >Agregar</a
              >
            </li>
          </ul>
        </li>
        <li class="collapsed">
          <a
            class="m-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu-evento"
            href="#"
          >
          <i class="icofont-exclamation fs-5"></i> <span>Incidente-Eventos</span>
            <span
              class="arrow icofont-rounded-down ms-auto text-end fs-5"
            ></span
          ></a>
          <ul class="sub-menu collapse" id="menu-evento">
            <li>
              <a class="ms-link" [routerLink]="['/admin/eventos/listado']"
                >listado</a
              >
            </li>
            <li>
              <a class="ms-link" [routerLink]="['/admin/eventos/registro']"
                >Registrar</a
              >
            </li>
            
          </ul>
        </li>
       </ul>
    </div>
  </div>

  <!-- main body area -->
  <div class="main px-lg-4 px-md-4">
    <!-- Body: Header -->
    <div class="header">
      <nav class="navbar py-4">
        <div class="container-xxl">
          <!-- header rightbar icon -->
          <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
            <div
              class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover"
            >
              <div class="u-info me-2">
                <p class="mb-0 text-end line-height-sm">
                  <span class="font-weight-bold" *ngIf="userConected"
                    >{{ userConected.persona.nombre }}
                    {{ userConected.persona.apellido }}</span
                  >
                </p>
                <span
                  *ngFor="let permiso of userConected.permiso; last as last"
                >
                  <small >{{ permiso.role.name }}</small>
                  <span *ngIf="!last"> | </span>
                </span>
              </div>
              <a
                class="nav-link dropdown-toggle pulse p-0"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-display="static"
              >
                <img
                  *ngIf="userConected.foto"
                  src="http://localhost:8080/api/uploads/img/{{
                    userConected.foto
                  }}"
                  alt="{{ userConected.foto }}"
                  class="avatar rounded"
                />
                <img
                  *ngIf="!userConected.foto"
                  src="http://localhost:8080/api/uploads/img/no-usuario.png"
                  alt="no-usurio-foto"
                  class="avatar rounded"
                />
              </a>
              <div
                class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0"
              >
                <div class="card border-0 w280">
                  <div class="card-body pb-0">
                    <div class="d-flex py-1">
                      <div class="flex-fill ms-3">
                        <p class="mb-0">
                          <span class="font-weight-bold">
                          DNI:  {{ userConected.persona.dni }}</span
                          >
                        </p>
                        <small class="">{{ userConected.email }}</small>
                      </div>
                    </div>

                    <div><hr class="dropdown-divider border-dark" /></div>
                  </div>
                  <div class="list-group m-2">
                    <a
                      href="admin-profile.html"
                      class="list-group-item list-group-item-action border-0"
                      ><i class="icofont-ui-user fs-5 me-3"></i>Profile Page</a
                    >
                    <a
                      href="ui-elements/auth-signin.html"
                      (click)="logout()"
                      class="list-group-item list-group-item-action border-0"
                      ><i class="icofont-logout fs-5 me-3"></i>Sign Out</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- menu toggler -->

          <!-- main menu Search-->
          <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0">
            <div class="input-group flex-nowrap input-group-lg"></div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Body: Body -->
    <router-outlet></router-outlet>
  </div>
</div>
