<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
      <div class="row align-items-center">
        <div class="border-0 mb-4">
          <div
            class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
          >
            <h3 class="fw-bold mb-0">Visitante</h3>
            <div class="col-auto d-flex w-sm-100">
              <a
                [routerLink]="['/admin/visitante/crear']"
                class="btn btn-primary btn-set-task w-sm-100"
              >
                <i class="icofont-plus-circle me-2 fs-6"></i>Agregar
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Row end  -->
      <div class="row clearfix g-3">
        <div class="col-sm-12">
          <div class="card mb-3">
            <div class="card-body">
              <table
                id="myProjectTable"
                class="table table-hover align-middle mb-0"
                style="width: 100%"
              >
                <thead class="text-center">
                  <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>DNI</th>
                    <th>Registrado por?</th>
                    <th>estado</th>
                    <th>acciones</th>
                  </tr>
                </thead>
                <tbody  class="text-center">
                  <tr></tr>
                  <tr *ngFor="let visitante of visitantes">
                    <td>{{ visitante.id }}</td>
                    <td>{{ visitante.persona.nombre }}</td>
                    <td>{{ visitante.persona.apellido }}</td>     
                    <td>{{ visitante.persona.dni }}</td>           
                    <td>
                      {{ visitante.persona.personaRegistro.id }} - {{ visitante.persona.personaRegistro.nombre }}  {{ visitante.persona.personaRegistro.apellido }}
                    </td>
                    <td *ngIf="visitante.persona.estado">
                      <span class="badge bg-success">Activo</span>
                    </td>
                    <td *ngIf="!visitante.persona.estado">
                      <span class="badge bg-danger">Inactivo</span>
                    </td>


                    <td>
                      <button
                        type="button"
                        name="editar"
                        class="btn btn-primary btn-sm"
                        [routerLink]="[
                          '/admin/visitante/update',
                          visitante.id
                        ]"
                      > 
                        editar
                      </button>
                      <button
                        type="button"
                        name="eliminar"
                        class="btn btn-danger btn-sm"
                        (click)="delete(visitante)"
                      >
                        eliminar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>