<div
  class="abrir-modal animacion fadeIn"
  *ngIf="this.modalService.modalFamiliar"
  (click)="cerrarModal()"
>
  <div
    class="modal color-fondo d-flex justify-content-center align-items-center"
    tabindex="-1"
    role="dialog"
    style="display: block"
  >
    <!--d-flex justify-content-center align-items-center-->
    <div class="alert alert-danger" *ngIf="errores" (click)="$event.stopPropagation()" >
      <h1 class="">ERROR EN EL INGRESO DE DATOS</h1>
      <div class="text-danger" *ngFor="let err of errores | keyvalue">
        <b *ngIf="err.key=='nombre'"> Campo 'Nombre': </b> 
        <b *ngIf="err.key=='apellido'"> Campo 'Apellido': </b> 
        <b *ngIf="err.key=='dni'"> Campo 'DNI': </b>
        <b *ngIf="err.key=='parentesco'"> Campo 'Parentesco': </b>
        {{err.value}}   
      </div>
    </div>
    <div
      class="modal-dialog modal-lg ancho-modal"
      role="document"
      (click)="$event.stopPropagation()"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-success"  *ngIf="!familiarSeleccionado.id">Registrar Familiar</h1>
          <h1 class="modal-title text-success"  *ngIf="familiarSeleccionado.id">Actualizar Familiar</h1>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Inicio-->
          <form #familiarFormValid="ngForm" autocomplete="nope" *ngIf="familiarSeleccionado">
            <!--NOMBE-->
            <div class="form-group row mb-4">
              <label for="" class="col-form-label col-sm-2"
                >Nombre del propietario</label
              >
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="familiarSeleccionado.nombre"
                  name="nombre"  
                  #nombre="ngModel"
                  required
                /><!---->
                <div
                  class="alert alert-danger"
                  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                >
                  <div *ngIf="nombre.errors.required">
                    El nombre es requerido
                  </div>
                </div>
              </div>
            </div>
            <!--APELLIDO-->
            <div class="form-group row mb-4">
              <label for="" class="col-form-label col-sm-2">Apellido</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="familiarSeleccionado.apellido"
                  name="apellido" 
                  #apellido="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    apellido.invalid && (apellido.dirty || apellido.touched)
                  "
                >
                  <div *ngIf="apellido.errors.required">
                    El apellido es obligatorio
                  </div>
                </div>
              </div>
            </div>
            <!--DNI-->
            <div class="form-group row mb-4">
              <label for="" class="col-form-label col-sm-2">DNI</label>
              <div class="col-sm-6">
                <input
                  type="text" 
                  class="form-control"
                  [(ngModel)]="familiarSeleccionado.dni"
                  name="dni"
                  #dni="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="dni.invalid && (dni.dirty || dni.touched)"
                >
                  <div *ngIf="dni.errors.required">El DNI es obligatorio</div>
                </div>
              </div>
            </div>
            <!--Parentesco-->
            <div class="form-group row mb-4">
              <label for="" class="col-form-label col-sm-2">Parentesco</label>
              <div class="col-sm-6">
                <input
                type="text"
                class="form-control"
                [(ngModel)]="familiarSeleccionado.parentesco"
                name="parentesco"
                #parentesco="ngModel"
                required
              />
              </div>
            </div>
            <div class="form-group row mb-4">
                <label for="" class="col-form-label col-sm-2">Fecha de nacimiento</label>
              <div class="col-sm-6">
                <input
                type="date"
                class="form-control"
                (ngModelChange)="familiarSeleccionado.birthdayDate = $event"
                [ngModel]="familiarSeleccionado.birthdayDate | date:'yyyy-MM-dd'"
                name="numeroCelular"
                #birthdayDate="ngModel"
                required
              />
                <div
                  class="alert alert-danger"
                  *ngIf="
                  birthdayDate.invalid &&
                    (birthdayDate.dirty || birthdayDate.touched)
                  "
                >
                  <div *ngIf="birthdayDate.errors.required">
                    La fecha de nacimeinto es obligatorio
                  </div>
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <div class="form-group row">
                <div class="col-sm-6">
                  <button
                    class="btn btn-primary"
                    role="button"
                    (click)="create()"
                    *ngIf="!familiarSeleccionado.id; else elseBlock"
                    [disabled]="!familiarFormValid.form.valid"
                  >
                    Crear
                  </button>
                  <ng-template #elseBlock>
                    <button
                      class="btn btn-primary"
                      role="button"
                      (click)="update()"
                      [disabled]="!familiarFormValid.form.valid"
                    >
                      Actualizar
                    </button>
                  </ng-template>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="cerrarModal()"
              >
                Close
              </button>
            </div>
          </form>
          <!--FIN-->
        </div>
      </div>
    </div>
  </div>
</div>
