<!--
  VALIDATOR EN EL FORMULARIO
  https://angular.io/api/forms/Validators
-->
<div class="container">
    <div class="alert alert-danger" *ngIf="errores" >
      <h1 class="">ERROR EN EL INGRESO DE DATOS</h1>
      <div class="text-danger" *ngFor="let err of errores | keyvalue">
        <b *ngIf="err.key=='nombre'"> Campo 'Nombre': </b> 
        <b *ngIf="err.key=='descripcion'"> Campo 'Descripcion: </b> 
        {{err.value}} 
      </div>
    </div>
    <div class="card bg-dark text-white">
      <div class="card-header">{{ titulo }}</div>
      <div class="card-body">
        <form #validForm="ngForm">
          <!--Nombre Incidente--> 
          <div class="form-group row my-5">
            <label for="" class="col-form-label col-sm-2"
              >Nombre</label
            >
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="servicio.nombre"
                name="nombre"
                #nombre="ngModel"
                required
                minlength="3"
              />
              <div
                class="alert alert-danger"
                *ngIf="
                nombre.invalid && (nombre.dirty || nombre.touched)
                "
              >
                <div *ngIf="nombre.errors.required">
                  El campo 'Nombre'es Requerido
                </div>
                <div *ngIf="nombre.errors.minlength">
                  El Campo Nombre debe tener mínimo 3 caracteres
                </div>
              </div>
            </div>
          </div>
          <!--Descripción-->
          <div class="form-group row my-5">
            <label for="" class="col-form-label col-sm-2">Descripcion</label>
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="servicio.descripcion"
                name="descripcion"
                #descripcion="ngModel"
                required
              />
              <div
                class="alert alert-danger"
                *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
              >
                <div *ngIf="descripcion.errors.required">
                  El campo 'Descripcion'es Requerido
                </div>
              </div>
            </div>
          </div>
         <!--Costo-->
         <div class="form-group row my-5">
          <label for="" class="col-form-label col-sm-2">Costo</label>
          <div class="col-sm-6">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="servicio.costo"
              name="costo"
              #costo="ngModel"
              required
              [min]="0"
              [max]="1000"
              pattern="\-?\d*\.?\d{1,2}"
            />
            <div
              class="alert alert-danger"
              *ngIf="costo.invalid && (costo.dirty || costo.touched)"
            >
              <div *ngIf="costo.errors.min">
                El campo 'Costo' No puede ser menor a 0
              </div>
              <div *ngIf="costo.errors.max">
                El campo 'Costo' No puede ser mayor a S/. 1000.00
              </div>
              <div *ngIf="costo.errors.pattern">
                El campo 'Costo' solo puede incluir 2 digitos
              </div>
              <div *ngIf="costo.errors.required">
                El campo 'Costo' es Requerido
              </div>
            </div>
          </div>
        </div>
           
          <div class="form-group row">
            <div class="col-sm-6">
              <button
                class="btn btn-primary"
                role="button"
                (click)="create()"
                *ngIf="!servicio.id; else elseBlock"
                [disabled]="!validForm.form.valid"
              >
                Registrar
              </button>
              <ng-template #elseBlock>
                <button
                  class="btn btn-primary"
                  role="button"
                  (click)="update()"
                  [disabled]="!validForm.form.valid"
                >
                  Actualizar
                </button>
              </ng-template>
            </div>
          </div>
        </form>
      </div> 
    </div>
  </div>
  