<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
        >
          <h3 class="fw-bold mb-0">Departamento</h3>
          <div class="col-auto d-flex w-sm-100">
            <a
              [routerLink]="['/admin/departamentos/crear']"
              class="btn btn-primary btn-set-task w-sm-100"
            >
              <i class="icofont-plus-circle me-2 fs-6"></i>Agregar
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  -->
    <div class="row clearfix g-3">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-body">
            <table
              id="myProjectTable"
              class="table table-hover align-middle mb-0"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>id</th>
                  <th>Número</th>
                  <th>Telefono</th>
                  <th>Estado</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
                <tr *ngFor="let departamento of departamentos">
                  <td>{{ departamento.id }}</td>
                  <td>{{ departamento.depnumero }}</td>
                  <td>{{ departamento.deptelef }}</td>
                  <td>{{ departamento.estado ? "activo" : "inactivo" }}</td>
                  <td>
                    <button
                      type="button"
                      name="editar"
                      class="btn btn-primary btn-sm"
                      [routerLink]="[
                        '/admin/departamentos/update',
                        departamento.id
                      ]"
                    > 
                      editar
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      name="eliminar"
                      class="btn btn-danger btn-sm"
                      (click)="delete(departamento)"
                    >
                      eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->
    <paginator-nav
      *ngIf="paginador_padre"
      [paginador_hijo]="paginador_padre"
      [componente_name_padre]="componente_name"
    ></paginator-nav>
  </div>
</div>
