<!--
  VALIDATOR EN EL FORMULARIO
  https://angular.io/api/forms/Validators
-->
<div class="container">
  <div class="alert alert-danger" *ngIf="errores" >
    <h1 class="">ERROR EN EL INGRESO DE DATOS</h1>
    <div class="text-danger" *ngFor="let err of errores | keyvalue">
      <b *ngIf="err.key=='nombre'"> Campo 'Nombre': </b> 
      <b *ngIf="err.key=='apellido'"> Campo 'Apellido': </b> 
      <b *ngIf="err.key=='dni'"> Campo 'DNI': </b> 
      <b *ngIf="err.key=='numeroCelular'"> Campo 'Número de numeroCelular': </b>
       <b *ngIf="err.key=='email'"> Campo 'Aforo': </b>
      {{err.value}} 
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header text-success">
      <h1>{{ titulo }}</h1>
    </div>
    <div class="card-body">
      <form #departamentoForm="ngForm">
        <div class="form-group row mb-5">
          <label for="" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="visitante.nombre"
              name="nombre"
              #nombre="ngModel"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            >
              <div *ngIf="nombre.errors.required">
                El nombre del visitante es Requerido
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-5">
          <label for="" class="col-form-label col-sm-2">Apellido</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="visitante.apellido"
              name="apellido"
              #apellido="ngModel"
              required
            /><!-- -->
            <div
              class="alert alert-danger"
              *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
            >
              <div *ngIf="apellido.errors.required">
                El apellido es requerido
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-5">
          <label for="" class="col-form-label col-sm-2">DNI</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="visitante.dni"
              name="dni"
              #dni="ngModel"
              required
              minlength="8"
              maxlength="8"
            />
            <div
              class="alert alert-danger"
              *ngIf="dni.invalid && (dni.dirty || dni.touched)"
            >
              <div *ngIf="dni.errors.required">El DNI es requerido</div>
              <div *ngIf="dni.errors?.['minlength']">
                DNI debe tener 8 Caracteres.
              </div>
              <div *ngIf="dni.errors?.['maxlength']">
                DNI debe tener 8 Caracteres.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <button
              class="btn btn-primary"
              role="button"
              (click)="create()"
              *ngIf="!visitante.id; else elseBlock"
              [disabled]="!departamentoForm.form.valid"
            >
              Crear
            </button>
            <ng-template #elseBlock>
              <button
                class="btn btn-primary"
                role="button"
                (click)="update()"
                [disabled]="!departamentoForm.form.valid"
              >
                Actualizar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
