<app-modal-mascota
  [mascotaSeleccionada]="mascotaSeleccionada"
  [propietario]="propietario"
  *ngIf="mascotaSeleccionada"
></app-modal-mascota>
<app-modal-familiar
  [familiarSeleccionado]="familiarSeleccionado"
  [propietario]="propietario"
  *ngIf="familiarSeleccionado"
></app-modal-familiar>

<app-modal-propietariodepartamento
[propietariodepartamento]="propietariodepartamento"
  [propietario]="propietario"
  *ngIf="propietariodepartamento.length>0"
></app-modal-propietariodepartamento>

<div class="body d-flex py-3" *ngIf="propietario">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
        >
          <h1 class="fw-bold mb-0 text-success">
            {{ propietario.persona.nombre }} {{ propietario.persona.apellido }}
          </h1>
        </div>
      </div>
    </div>
    <!-- Row end  -->
    <div
      class="row g-3 mb-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-4"
    >
      <div class="col">
        <div class="alert-success alert mb-0">
          <div class="d-flex align-items-center">
            <div class="avatar rounded no-thumbnail bg-success text-light">
              <i class="fa fa-birthday-cake fa-lg" aria-hidden="true"></i>
            </div>
            <div class="flex-fill ms-3 text-truncate">
              <div class="h6 mb-0">Birthday Date</div>
              <span class="small"
                >{{ propietario.birthdayDate | date: "dd-MMMM" }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="alert-danger alert mb-0">
          <div class="d-flex align-items-center">
            <div class="avatar rounded no-thumbnail bg-danger text-light">
              <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            </div>
            <div class="flex-fill ms-3 text-truncate">
              <div class="h6 mb-0">Full Name</div>
              <span class="small"
                >{{ propietario.persona.nombre }}
                {{ propietario.persona.apellido }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="alert-warning alert mb-0">
          <div class="d-flex align-items-center">
            <div class="avatar rounded no-thumbnail bg-warning text-light">
              <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
            </div>
            <div class="flex-fill ms-3 text-truncate">
              <div class="h6 mb-0">Email</div>
              <span class="small">{{ propietario.persona.usuario.email }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="alert-info alert mb-0">
          <div class="d-flex align-items-center">
            <div class="avatar rounded no-thumbnail bg-info text-light">
              <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
            </div>
            <div class="flex-fill ms-3 text-truncate">
              <div class="h6 mb-0">Contact No</div>
              <span class="small">{{ propietario.numeroCelular }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  -->
    <div
      class="row g-3 mb-3 row-cols-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 row-deck"
    >
      <div class="col">
        <div class="card auth-detailblock">
          <div
            class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
          >
            <h6 class="mb-0 fw-bold">Datos del Propietario</h6>
            <a href="#" class="text-muted">Edit</a>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Nombre:</label>
                <span
                  ><strong>{{ propietario.persona.nombre }} </strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Apellido:</label>
                <span
                  ><strong>{{ propietario.persona.apellido }}</strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">DNI:</label>
                <span
                  ><strong>{{ propietario.persona.dni }}</strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5"
                  >Fecha de Nacimiento:</label
                >
                <span
                  ><strong>{{
                    propietario.birthdayDate | date: "dd/MM/yyyy"
                  }}</strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Telefono:</label>
                <span
                  ><strong>{{ propietario.numeroCelular }}</strong></span
                >
              </div>

              <div class="col-12">
                <label class="form-label col-6 col-sm-5"
                  >Fecha de Creación:</label
                >
                <span
                  ><strong>{{
                    propietario.persona.createAt | date: "dd/MM/yyyy"
                  }}</strong></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div
            class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
          >
            <h6 class="mb-0 fw-bold">Información de usuario</h6>
            <a href="#" class="text-muted">Edit</a>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Usuario</label>
                <span
                  ><strong>{{
                    propietario.persona.usuario.email
                  }}</strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5"
                  >Ultimo inicio de sesion:</label
                >
                <span
                  ><strong>{{
                    propietario.persona.usuario.lastLoginDateDisplay
                      | date: "M/d/yy, h:mm a"
                  }}</strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Activo:</label>
                <span
                  *ngIf="propietario.persona.estado"
                  class="badge bg-success"
                  ><strong>Activo</strong>
                </span>

                <span
                  *ngIf="!propietario.persona.estado"
                  class="badge bg-danger"
                  ><strong>Inactivo</strong></span
                >
              </div>
              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Bloqueado:</label>
                <span
                  *ngIf="propietario.persona.usuario.isNotLocked"
                  class="badge bg-success"
                  ><strong>Disponible</strong>
                </span>

                <span
                  *ngIf="!propietario.persona.usuario.isNotLocked"
                  class="badge bg-danger"
                  ><strong>Bloqueado</strong></span
                >
              </div>

              <div class="col-12">
                <label class="form-label col-6 col-sm-5">Permiso</label>
                <span
                  *ngFor="
                    let permiso of propietario.persona.usuario.permiso;
                    last as last
                  "
                >
                  <strong>
                    {{ permiso.role.name }}
                    <span *ngIf="!last"> | </span>
                  </strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div
            class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
          >
            <h6 class="mb-0 fw-bold">Subir Foto</h6>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-sm">
                <img
                  *ngIf="propietario.persona.usuario.foto"
                  src="http://localhost:8080/api/uploads/img/{{
                    propietario.persona.usuario.foto
                  }}"
                  alt="{{ propietario.persona.usuario.foto }}"
                  class="img-thumbnail rounded"
                />
                <img
                  *ngIf="!propietario.persona.usuario.foto"
                  src="http://localhost:8080/api/uploads/img/no-usuario.png"
                  alt="no-usurio-foto"
                  class="img-thumbnail rounded"
                />
              </div>

              <div class="input-group mb-3">
                <input
                  (change)="seleccionarFoto($event)"
                  type="file"
                  class="form-control"
                  id="inputGroupFile03"
                  aria-describedby="inputGroupFileAddon03"
                  aria-label="Upload"
                />
                <button
                  (click)="subirFoto()"
                  [disabled]="!fotoSeleccionada"
                  class="btn btn-outline-secondary"
                  type="button"
                  id="inputGroupFileAddon03"
                >
                  Subir Foto
                </button>
              </div>
              <div *ngIf="progreso > 0" class="progress" style="height: 40px">
                <div
                  class="progress-bar progress-bar-striped"
                  role="progressbar"
                  [ngStyle]="{ width: progreso + '%' }"
                  attr.aria-valuenow="{{ progreso }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ progreso }}%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  Departamnetos-->
    <div class="row g-3 mb-3">
      <div class="">
        <div class="card">
          <div
            class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
          >
            <h1 class="mb-0 fw-bold text-info">Departamento Propietario</h1>
            <div class="col-auto d-flex w-sm-100">
              <a
                (click)="abrirModalDepartamentoPropietario()"
                class="btn btn-primary btn-set-task w-sm-100"
              >
                <i class="icofont-gears me-2 fs-6"></i>Mantto
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="product-cart">
              <div class="checkout-table table-responsive">
                <table
                  id="myCartTable"
                  class="table display dataTable table-hover align-middle"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Id Departamento</th>
                      <th>Número de departamento</th>
                      <th>Telefono Departamento</th>
                      <th>estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let propietarioDepartamento of propietario.propietarioDepartamentos
                      "
                    >
                      <td>
                        {{ propietarioDepartamento.departamento.id }}
                      </td>
                      <td>
                        {{ propietarioDepartamento.departamento.depnumero }}
                      </td>
                      <td>
                        {{ propietarioDepartamento.departamento.deptelef }}
                      </td>
                      <td>
                      <span *ngIf="propietarioDepartamento.estado" class="badge bg-success"
                        ><strong>Activo</strong>
                      </span>

                      <span *ngIf="!propietarioDepartamento.estado" class="badge bg-danger"
                        ><strong>Inactivo</strong></span
                      >
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  -->

    <!-- Row  MASCOTA-->
    <div class="row g-3 mb-3">
      <div class="">
        <div class="card">
          <div
            class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
          >
            <h1 class="mb-0 fw-bold text-info">Mascota</h1>
            <div class="col-auto d-flex w-sm-100">
              <a
                (click)="abrirModalMascota(null)"
                class="btn btn-primary btn-set-task w-sm-100"
              >
                <i class="icofont-plus-circle me-2 fs-6"></i>Add
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="product-cart">
              <div class="checkout-table table-responsive">
                <table
                  id="myCartTable"
                  class="table display dataTable table-hover align-middle"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Id Mascota</th>
                      <th>Tipo Mascota</th>
                      <th>Nombre Mascota</th>
                      <th>Raza</th>
                      <th>Persona que registro</th>
                      <th>Fecha de Creacón</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let mascota of propietario.mascotas"
                      (click)="abrirModalMascota(mascota)"
                    >
                      <td>
                        {{ mascota.id }}
                      </td>
                      <td>
                        {{ mascota.tipoMascota }}
                      </td>
                      <td>
                        {{ mascota.nombre }}
                      </td>
                      <td>
                        {{ mascota.raza }}
                      </td>
                      <td>
                        {{ mascota.personaRegistro.id }} -
                        {{ mascota.personaRegistro.nombre }}
                        {{ mascota.personaRegistro.apellido }}
                      </td>
                      <td>
                        {{ mascota.createAt | date: "dd/MM/yyyy" }}
                      </td>
                      <td
                        (click)="
                          changeActiveMascota(mascota); $event.stopPropagation()
                        "
                      >
                        <span *ngIf="mascota.isActive" class="badge bg-success"
                          ><strong>Activo</strong>
                        </span>

                        <span *ngIf="!mascota.isActive" class="badge bg-danger"
                          ><strong>Inactivo</strong></span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  -->

    <!-- Row Familiar-->
    <div class="row g-3 mb-3">
      <div class="">
        <div class="card">
          <div
            class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
          >
            <h1 class="mb-0 fw-bold text-info">Familiar</h1>
            <div class="col-auto d-flex w-sm-100">
              <a
                (click)="abrirModalFamiliar(null)"
                class="btn btn-primary btn-set-task w-sm-100"
              >
                <i class="icofont-plus-circle me-2 fs-6"></i>Add
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="product-cart">
              <div class="checkout-table table-responsive">
                <table
                  id="myCartTable"
                  class="table display dataTable table-hover align-middle"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Parentesco</th>
                      <th>Nombre</th>
                      <th>DNI</th>
                      <th>Persona que registro</th>
                      <th>Fecha de Cumpleaños</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let familiar of propietario.familiares"
                      (click)="abrirModalFamiliar(familiar)"
                    >
                      <td>
                        {{ familiar.id }}
                      </td>
                      <td>
                        {{ familiar.parentesco }}
                      </td>
                      <td>
                        {{ familiar.persona.nombre }}
                        {{ familiar.persona.apellido }}
                      </td>
                      <td>
                        {{ familiar.persona.dni }}
                      </td>
                      
                      <td>
                        {{ familiar.persona.personaRegistro.id }} -
                        {{ familiar.persona.personaRegistro.nombre }}
                        {{ familiar.persona.personaRegistro.apellido }}
                      </td>

                      <td>
                        {{ familiar.birthdayDate | date: "dd/MM" }}
                      </td>
                      <td
                        (click)="changeActiveFamiliar(familiar); $event.stopPropagation()"
                      >
                        <span
                          *ngIf="familiar.persona.estado"
                          class="badge bg-success"
                          ><strong>Activo</strong>
                        </span>

                        <span
                          *ngIf="!familiar.persona.estado"
                          class="badge bg-danger"
                          ><strong>Inactivo</strong></span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end  -->
  </div>
</div>
