<!--
  VALIDATOR EN EL FORMULARIO
  https://angular.io/api/forms/Validators
-->
<div class="container">
  <ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  <div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form #departamentoForm="ngForm">
        <div class="form-group row">
          <label for="" class="col-form-label col-sm-2"
            >Número de Departamento</label
          >
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="departamento.depnumero"
              name="depnumero"
              #depnumero="ngModel"
              required
              minlength="3"
              maxlength="3"
            /><!---->
            <div
              class="alert alert-danger"
              *ngIf="
                depnumero.invalid && (depnumero.dirty || depnumero.touched)
              "
            >
              <div *ngIf="depnumero.errors.required">Número</div>
              <div *ngIf="depnumero.errors.minlength">
                El nombre del departamento debe tener 3 digitos
              </div>
              <div *ngIf="depnumero.errors.maxlength">
                El nombre del departamento debe tener 3 digitos
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-form-label col-sm-2">Telefono</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="departamento.deptelef"
              name="deptelef"
              #deptelef="ngModel"
              required
            /><!-- -->
            <div
              class="alert alert-danger"
              *ngIf="deptelef.invalid && (deptelef.dirty || deptelef.touched)"
            >
              <div *ngIf="deptelef.errors.required">
                El telefono del departamento es obligatorio
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <button
              class="btn btn-primary"
              role="button"
              (click)="create()"
              *ngIf="!departamento.id; else elseBlock"
              [disabled]="!departamentoForm.form.valid"
            >
              Crear
            </button>
            <ng-template #elseBlock>
              <button
                class="btn btn-primary"
                role="button"
                (click)="update()"
                [disabled]="!departamentoForm.form.valid"
              >
                Actualizar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
