<!--
  VALIDATOR EN EL FORMULARIO
  https://angular.io/api/forms/Validators
-->
<div class="container">
  <div class="alert alert-danger" *ngIf="errores" >
    <h1 class="">ERROR EN EL INGRESO DE DATOS</h1>
    <div class="text-danger" *ngFor="let err of errores | keyvalue">
      <b *ngIf="err.key=='depnumero'"> Campo 'Número de Departamento': </b> 
      <b *ngIf="err.key=='deptelef'"> Campo 'Número de Telefono: </b> 
      <b *ngIf="err.key=='piso'"> Campo 'Piso: </b> 
      <b *ngIf="err.key=='aforo'"> Campo 'Aforo': </b>
      {{err.value}} 
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form #departamentoForm="ngForm">
        <!--Nùmero de departamentoW-->
        <div class="form-group row my-5">
          <label for="" class="col-form-label col-sm-2"
            >Número de Departamento</label
          >
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="departamento.depnumero"
              name="depnumero"
              #depnumero="ngModel"
              required
              minlength="3"
              maxlength="3"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                depnumero.invalid && (depnumero.dirty || depnumero.touched)
              "
            >
              <div *ngIf="depnumero.errors.required">
                El campo 'Número de departamento es obligatorio'
              </div>
              <div *ngIf="depnumero.errors.minlength">
                El Número de departamento debe tener 3 digitos
              </div>
              <div *ngIf="depnumero.errors.maxlength">
                El Número de departamento debe tener 3 digitos
              </div>
            </div>
          </div>
        </div>
        <!--Telefono-->
        <div class="form-group row my-5">
          <label for="" class="col-form-label col-sm-2">Telefono</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="departamento.deptelef"
              name="deptelef"
              #deptelef="ngModel"
              required
            /><!-- -->
            <div
              class="alert alert-danger"
              *ngIf="deptelef.invalid && (deptelef.dirty || deptelef.touched)"
            >
              <div *ngIf="deptelef.errors.required">
                El telefono del departamento es obligatorio
              </div>
            </div>
          </div>
        </div>
         <!--Piso y Aforo-->
        <div class="form-group row my-5">
          <!--Piso-->
          <label for="" class="col-form-label col-sm-2">Piso</label>
          <div class="col-sm-4">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="departamento.piso"
              name="piso"
              #piso="ngModel"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="piso.invalid && (piso.dirty || piso.touched)"
            >
              <div *ngIf="piso.errors.required">
                El campo 'piso' es obligatorio
              </div>
            </div>
          </div>
            <!--Aforo-->
            <label for="" class="col-form-label col-sm-2">Aforo</label>
            <div class="col-sm-4">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="departamento.aforo"
                name="aforo"
                #aforo="ngModel"
                required
              />
              <div
                class="alert alert-danger"
                *ngIf="aforo.invalid && (aforo.dirty || aforo.touched)"
              >
                <div *ngIf="aforo.errors.required">
                  El campo 'aforo' es obligatorio
                </div>
              </div>
            </div>
        </div>
       
         <div class="form-group row">
         
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button
              class="btn btn-primary"
              role="button"
              (click)="create()"
              *ngIf="!departamento.id; else elseBlock"
              [disabled]="!departamentoForm.form.valid"
            >
              Crear
            </button>
            <ng-template #elseBlock>
              <button
                class="btn btn-primary"
                role="button"
                (click)="update()"
                [disabled]="!departamentoForm.form.valid"
              >
                Actualizar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
